body {
    background-color: lightblue;
}

h1 {
    text-align: center;
}

#Input {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    right: 50%;
}